<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shawn.researjour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".CategorySelection"
            android:screenOrientation="locked"
            ></activity>
        <activity android:name=".ProfileSetup"
            android:screenOrientation="locked">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity"
            android:screenOrientation="locked"/>
        <activity android:name=".Retype_new_password"
            android:screenOrientation="locked"/>
        <activity android:name=".VerifyCode"
            android:screenOrientation="locked"/>
        <activity android:name=".Terms"
            android:screenOrientation="locked"/>
        <activity android:name=".Feed"
            android:screenOrientation="locked"/>
        <activity android:name=".Forgot_pass_main"
            android:screenOrientation="locked"/>
        <activity android:name=".Registration"
            android:screenOrientation="locked"/>
        <activity android:name=".Login"
            android:screenOrientation="locked"/>
        <activity android:name=".Welcome_Screen"
            android:screenOrientation="locked"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="locked">
        </activity>
    </application>

</manifest>