<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shawn.researjour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".ProfileSetup"></activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".Retype_new_password" />
        <activity android:name=".VerifyCode" />
        <activity android:name=".Terms" />
        <activity android:name=".Feed" />
        <activity android:name=".Forgot_pass_main" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".Welcome_Screen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>